header{
  padding: 20px;
  border-bottom: 1px solid #ccb3ff;
  text-align: left;
  background-color: #ddccff;
}
header > a {
  cursor: pointer;
  display: flex;
  align-items: center;
} 
.homeIcon{
  width: 24px;
  height: 24px;
  background-size: 100%;
  margin-right: 16px;
  background-image: url('../../images/home.svg');
}